<!DOCTYPE html>
<html lang="en-US" ng-app="starter" ng-cloak ng-controller="HeaderCtrl as vm">
<head>	

<title ng-bind="vm.page.title()"></title>
<meta charset="utf-8" />


<!-- Libraries JavaScript -->
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script type="text/javascript" src="bower_components/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
<script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="bower_components/angular-tree-control/angular-tree-control.js"></script>
<script type="text/javascript" src="bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
<script type="text/javascript" src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
<script type="text/javascript" src="bower_components/angulartics/dist/angulartics.min.js"></script>
<script type="text/javascript" src="bower_components/angulartics-piwik/dist/angulartics-piwik.min.js"></script>
<script type="text/javascript" src="bower_components/angular-utils-pagination/dirPagination.js"></script>
<script type="text/javascript" src="bower_components/ngprogress/build/ngprogress.js"></script>

<!-- Libraries CSS -->
<link rel="stylesheet" type="text/css" href="css/o2r.css">
<link rel="stylesheet" type="text/css" href="bower_components/angular-tree-control/css/tree-control.css">
<link rel="stylesheet" type="text/css" href="lib/highlight/styles/default.css">
<link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="bower_components/angular-material-data-table/dist/md-data-table.min.css">
<link rel="stylesheet" type="text/css" href="bower_components/ngprogress/ngProgress.css">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="img/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="img/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="img/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="img/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="img/favicon-194x194.png" sizes="194x194">
<link rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="img/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="img/manifest.json">
<link rel="mask-icon" href="img/safari-pinned-tab.svg" color="#004288">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="theme-color" content="#004288">

<!-- config file -->
<script src="app/config/config.js"></script>

<!-- Starter file -->
<script src="app/app.js"></script>


<!-- Services -->
<script src="app/services/httpRequests.js"></script>
<script src="app/ercView/publications.js"></script>
<script src="app/metadataPanel/metadata.js"></script>
<script src="app/services/jobs.js"></script>
<script src="app/login/login.js"></script>
<script src="app/services/header.js"></script>
<script src="app/sockets/socket.js"></script>


<!-- Controllers -->
<script src="app/ercView/erc.controller.js"></script>
<script src="app/authorView/author.controller.js"></script>
<script src="app/searchView/search.controller.js"></script>
<script src="app/homeView/home.controller.js"></script>
<script src="app/login/login.controller.js"></script>
<script src="app/headerView/header.controller.js"></script>
<script src="app/templates/impressum.controller.js"></script>
<script src="app/templates/privacy.controller.js"></script>

<!-- Directives -->
<script src="app/ercView/o2rDisplayFiles.directive.js"></script>
<script src="app/ercView/o2rErcDownload.directive.js"></script>
<script src="app/metadataPanel/o2rMetadata.directive.js"></script>
<script src="app/analysisStatsView/o2rAnalysisStats.directive.js"></script>

<!-- Filters -->
<script src="app/services/upperCase.filter.js"></script>
<script src="app/services/cutPath.filter.js"></script>

<!-- highlight js -->
<link rel="stylesheet" type="text/css" href="lib/highlight/styles/default.css">
<script src="lib/highlight/highlight.pack.js"></script>
<script src="bower_components/angular-highlightjs/angular-highlightjs.min.js"></script>

<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website.","dismiss":"Got it!","learnMore":"More info","link":"/#/privacy","theme":"light-bottom"};
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
<!-- End Cookie Consent plugin -->


</head>
<body ng-controller="LoginCtrl as vm">
    <!-- header -->
    <md-toolbar class="o2r-fixed">
        <div class="md-toolbar-tools">
            <img class="o2r-pointer" src="img/o2r-logo-only-white-outline.svg" alt="o2r-logo" height="80%" ui-sref="home">
            <span flex></span>
            <form ng-submit="vm.submitSearch()" ng-if="vm.showSearchBar()">
                <md-input-container md-no-float layout="row" class="md-icon-float white-font">
                    <label class="white-font">Search</label>
                    <input ng-model="vm.searchInput" class="white-font">
                    <md-icon class="o2r-white-icon" md-svg-src="{{vm.icons.search}}"></md-icon>
                </md-input-container>
            </form>
            <md-button class="white-font" ng-show="vm.loggedIn" ui-sref="author({authorid: vm.user.orcid})">{{vm.user.name}} | <small>{{vm.user.orcid}}</small></md-button>
            <md-button class="white-font" href="api/v1/auth/logout" ng-show="vm.loggedIn" analytics-category="user" analytics-on>Logout</md-button>
            <md-button class="white-font" href="api/v1/auth/login" ng-hide="vm.loggedIn" analytics-category="user" analytics-on>Login</md-button>
        </div>
    </md-toolbar>
    <!-- End header -->

    <!-- Main content and injected views -->
    <div id="main">
        
        <div id="ui-view" ui-view></div>  
        
    </div>

    <!-- footer -->
    <md-toolbar class="footer">
        <div class="md-toolbar-tools white-font">
            <span flex></span>
            <a ui-sref="impressum"><small>Impressum</small></a>|<a ui-sref="privacy"><small>Privacy Policy</small></a>
            <span flex></span>
        </div>
    </md-toolbar>

    <!-- Piwik -->
    <script type="text/javascript">
        const piwik = {};
        piwik.url = window.__env.piwik || "//o2r.uni-muenster.de/piwik/";

        var _paq = _paq || [];
        //_paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u=piwik.url;
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Piwik Code -->
</body>
</html>
