/************************
   Start General
*************************/
html, body{
	height: 100%;
}

#main{
	padding: 2%;
	height: 90%;
}

#ui-view{
	height: 100%;
}




/************************
   End General
*************************/
/***********************
   Start Author view
************************/
.author_content{
	margin: 2em 0;
	position: relative;
	right:1%;
	top:5%;
}

.author_pdf{
	min-height: 90em;
	min-width: 100%;
	margin-left: auto;
	margin-right: auto;
}


.author_img{
	max-width: 100%;
}

.author_video{
	width:;
	height:;
}

.author_jumboImg{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/***********************
   End Author view
************************/
/***********************
   Start Author-Landingpage view
************************/

#a-land-uploadbtn{
	float: right;
}

.a-land-row-title{
	height: 10%;
}

.a-land-row-content{
	height: 90%;
}

.a-land{
	height: 100%;
}

.a-land-panel-head{
	height: 7%;
	min-height: 50px;
}


.a-land-panel{
	max-height: calc(100% - 50px - 15px);
	/*
	margin-bottom: 10%;
	*/
	overflow-y: auto;
}

.a-land-sorter, .a-land-tr{
	cursor: pointer;
}

/*
.a-test{
	height: calc(100% - 15px);
	overflow-y: auto;
}
*/

/***********************
   End Author-Landingpage view
************************/