/************************
   Start General
*************************/
html, body{
	height: 100%;
}

#main{
	padding: 2%;
	height: 90%;
}

#ui-view{
	height: 100%;
}




/************************
   End General
*************************/
/***********************
   Start Author view
************************/
.erc_content{
	margin: 2em 0;
	position: relative;
	right:1%;
	top:5%;
}

.erc_pdf{
	min-height: 90em;
	min-width: 100%;
	margin-left: auto;
	margin-right: auto;
}


.erc_img{
	max-width: 100%;
}

.erc_video{
	width:;
	height:;
}

.erc_jumboImg{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/***********************
   End Author view
************************/
/***********************
   Start Author-Landingpage view
************************/

#author-uploadbtn{
	float: right;
}

.author-row-title{
	height: 10%;
}

.author-row-content{
	height: 90%;
}

.author{
	height: 100%;
}

.author-panel-head{
	height: 7%;
	min-height: 50px;
}


.author-panel{
	max-height: calc(100% - 50px - 15px);
	/*
	margin-bottom: 10%;
	*/
	overflow-y: auto;
}

.author-sorter, .author-tr{
	cursor: pointer;
}

/*
.a-test{
	height: calc(100% - 15px);
	overflow-y: auto;
}
*/

/***********************
   End Author-Landingpage view
************************/

/***********************
   Start Home view
************************/

.home_searchinput{
	padding-right: 0px !important;
}

.home_div{
	height: 100%;
}

.home_search{
	position: relative;
	top: 15%;
}

#home_logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 10%;
}
/***********************
   End Home view
************************/

/***********************
   Start Search view
************************/
.search_searchbtn{
	float: right;
}

.search_searchinput{
	padding-right: 0px !important;
}

.search_resTitle{
	cursor: pointer;
}

.search_resTable{
	padding-top: 15px;
	padding-bottom: 15px;
}
/***********************
   End Search view
************************/