<div id="tableSubstitutionOptions">
  <table id="tableSubstitution" style="width:100%">
    <tr style="background-color: white;">
      <th style="width:45%">base ERC:</th>
      <th style="width:10%"></th>
      <th style="width:45%">overlay ERC:</th>
    </tr>
    <tr>
      <th>{{o2rBaseTitle}}</th>
      <th></th>
      <th>{{o2rOverlayTitle}}</th>
    </tr>
    <div class="substitution-rows">
      <tr ng-repeat="row in substitutionRows">
        <td>
          <md-input-container>
            <md-select ng-model="fileSelectBase" ng-change="selectSubstitutionFiles(fileSelectBase, baseType, this)" placeholder="Select a basefile">
              <md-option ng-value="basefile" ng-repeat="basefile in o2rBase">{{ basefile.fileName }}</md-option>
            </md-select>
          </md-input-container>
        </td>
        <td>
          <md-button title="del row" class="md-raised" ng-click="delDropdown(this)"><md-icon aria-label md-svg-src="{{icons.remove}}"></md-icon></md-button>
        </td>
        <td>
          <md-input-container>
            <md-select ng-model="fileSelectOverlay" ng-change="selectSubstitutionFiles(fileSelectOverlay, overlayType, this)" placeholder="Select an overlayfile">
              <md-option ng-value="overlayfile" ng-repeat="overlayfile in o2rOverlay">{{ overlayfile.fileName }}</md-option>
            </md-select>
          </md-input-container>
        </td>
      </tr>
    </div>
    <tr style="background-color: white;">
      <td class="add-row-button"></td>
      <td class="add-row-button">
        <md-button title="add row" class="md-raised" ng-click="addDropdown()"><md-icon aria-label md-svg-src="{{icons.add}}"></md-icon></md-button>
      </td>
      <td class="add-row-button"></td>
    </tr>
  </table>
</div>

<div>
  <md-button ng-click="cancel()">cancel</md-button>
  <md-button ng-click="startSubstitutionUI()">start substitution</md-button>
  <span flex></span>
  <a href="" ng-click="showSubstitutedERC()" ng-if="finishedSubstitution">Go to ERC</a>
</div>
