# ignore dependencies
client/bower_components/

#ignore config.js
client/app/config/config.js

# ignore workspace settings
.vscode/

# ignore npm debug logs
npm-debug.log

# ignore modules
node_modules