/************************
   Start General
*************************/
body{
	min-height: 100vh;
}

#main{
	padding: 2%;
	padding-top: calc(64px + 1vh);
	height: auto !important;
	min-height: calc(100vh - 64px - 64px - 33px); /*full height - header - footer - padding-top*/ 
}

.orcidImage{
	width:18px;
}

.toLowerCase{
	text-transform: lowercase;
}

.o2r-pointer{
	cursor: pointer;
}

.backgr-white{
	background-color: white;
}

.white-font{
	color: white !important;
}

.o2r-grey-font{
	color: rgba(0,0,0,0.54);
}

.o2r-red-font{
	color: rgb(120,17,24);
}

.o2r-dark-font{
	color: rgb(67,69,83);
}

.o2r-blue-font{
	color: rgb(0,66,134);
}

.footer{
	height: 64px !important;
}

md-card-header-text{
	width: 100%;
	overflow-wrap: break-word;
}

#o2r-header{
	z-index:100;
}
/*
.no-link{
	color: 0, 0, 0, 0.87 !important;
	text-decoration: none;
}
*/
.o2r-fixed{
	position: fixed;
}

.o2r-icon{
	fill: rgba(0, 0, 0, 0.54) !important;
}

.o2r-white-icon{
	fill: white !important;
}

.o2r-red-icon{
	fill: rgb(120,17,24) !important;
}

.o2r-green-icon{
	fill: green !important;
}

.o2r-download-exclude-image{
	margin-left: 16px;
}

/************************
   End General
*************************/
/***********************
   Start Display files view
************************/
.display-files-pdf{
	min-height: 90em;
	min-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.display-files-html{
	min-width: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow-x: auto;
}

iframe.display-files-html{
	border-style: none;
}

display-files-html iframe{
	border-style: none;
}

.display-files-img{
	max-width: 100%;
}

.display-files-video{
	max-width: 100%;
}

.display-files-bigfile-par{
	text-align: center;
}

/***********************
   End Display files view
************************/
/***********************
   Start Author-Landingpage view
************************/
.author-left-nav{
	left: 1vw;
	width: 15vw;
}

.author-metadata{
	right: 1vw;
	width: 25vw;
}

.author-H3ToTheBack{
	display: inline-block;
	z-index: 0;
	background-color: red;
}

.author-AToTheFront{
	width: fit-content;
	z-index: 1;
	background-color: blue;
}
/***********************
   End Author-Landingpage view
************************/

/***********************
   Start Home view
************************/
#home-logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:15%;
	position: relative;
	top: 10%;
}

.home-label{
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	color: #434553;
}

.home-logo-box{
	padding-top: 5%;
}

.home-input-folder{
	margin-bottom: 0;
}

.home-input-analysis{
	margin-top: 0;
	color: rgba(0, 0, 0, 0.54);
}

.home-example{
	padding-top: 5vh;
}
/***********************
   End Home view
************************/

/***********************
   Start creation process
************************/
.metabuttons{
	width:100%;
}

.selectdemoSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }
  .selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; }
  .selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; }
  .selectdemoSelectHeader md-content._md {
    max-height: 240px; 
}

.md-select-width {
	width:220px;
}

.md-select-margin {
	margin-left:3%;
}

md-input-container.md-default-theme.md-input-invalid .md-char-counter, md-input-container.md-input-invalid .md-char-counter, md-input-container.md-default-theme.md-input-invalid .md-input-message-animation, md-input-container.md-input-invalid .md-input-message-animation, md-input-container.md-default-theme.md-input-invalid label, md-input-container.md-input-invalid label{
	color: #d11d29;
}


/***********************
   End creation process
************************/

/***********************
   Start Search view
************************/
.search-metadata{
	width: 25vw;
	right: 5vw;
}

.search-button{
	bottom:1em;
}

.search-clickOnName:hover{
	text-decoration: underline;
}

.editForCandidates{
	position:relative;
	z-index:100;
}

.search-clickOnName{
	font-size: 1.5em;
}

/***********************
   End Search view
************************/

/***********************
   Start UploadModal
   credits for .drop-box and .drop-box.dragover to https://angular-file-upload.appspot.com/common.css
************************/
.upmod-dropbox {
    background: #F8F8F8;
    border: 5px dashed #DDD;
	width: 90%;
    text-align: center;
   	padding: 50px 10px;
    cursor: pointer;
}

.upmod-dropbox.dragover {
    border: 5px dashed #004286;
}

.upmod-dropbox:hover{
	border: 5px dashed #004286;
}

#upmod-progress {
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

#upmod-prog-text{
	width: 70px;
	text-align: center;
	padding-top: 10px;	
}

.upmod-checkbox{
	padding-top: 30px;
}
/***********************
   End UploadModal
************************/


/***********************
   Start pagination of search results
************************/
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

/***********************
   End pagination of search results
************************/
/***********************
	Start MetadatView
************************/
.edit-button:hover{
	cursor: pointer;
}

.edit-metadata-label-color{
	color: rgba(0,0,0, 0.54);
}

.metadata-spacetime-padding{
	padding-top: 5px;
}

.metadata-author-padding{
	padding-bottom: 5px;
}
/***********************
	End MetadatView
************************/
/***********************
	Start compareView
************************/
o2r-compare md-card-content{
	overflow-y: hidden;
}
/***********************
	End compareView
************************/
/***********************
   Start ERC view
************************/
treecontrol.tree-classic li.tree-expanded i.tree-branch-head {
    background: url("../img/o2r-folder.png") no-repeat !important;
}

treecontrol.tree-classic li.tree-collapsed i.tree-branch-head {
    background: url("../img/o2r-folder-closed.png") no-repeat !important;
}

treecontrol.tree-classic li.tree-leaf i.tree-leaf-head {
    background: url("../img/o2r-file.png") no-repeat !important;
}

.erc-main{
	height: 85vh;
	margin-left: 0;
}

.erc-main > md-card-content{
	overflow-y: auto;
}

.erc-main > md-card-header{
	min-height: 2vh;
}
.erc-rightside{
	height: 85vh;
}

.erc-side-toggle{
	margin-top: 8px;
	margin-bottom: 8px;
	/*background-color: white;*/
}

.erc-side-toggle-button{
	min-width: 15px !important;
	/*max-width: 15px !important;*/
	min-height: 88px !important;
	margin: 0 !important;
	margin-top: 40vh !important;
	/*padding-bottom: 42vh !important;*/
}

.erc-side-collapse-button{
	margin-right: 0 !important;
	min-width: 15px !important;
	min-height: 88px !important;
	max-height: 88px !important;
	margin-top: 27vh !important;
}	

.erc-side-content{
	padding-right: 0 !important;
}

.erc-side-checkbox{
	margin-top: 12px !important;
}

.erc-side{
	height: 85vh;
	margin-top: calc(64px + 1vh + 8px); /* navbar height + padding top + margin top */
	margin-bottom: 8px;
	min-width: 35vw !important;
}

.erc-side-button-row{
	margin-right: 15px;
}

.erc-codedata-header{
	padding-top: 0;
	padding-bottom: 0;
}

.erc-codedata-content{
	padding-top: 0;
	padding-bottom: 0;
}

.erc-backtopaper-button{
	min-width: 113.344px !important;
}
/***********************
   End ERC view
************************/
/***********************
	Start inspectView
************************/

.inspect-menu-button{
	padding: 0!important;
	height: 30px!important;
	width: 30px!important;
	line-height: normal!important;
	vertical-align: top!important;
}

.inspect-divider{
	margin-top: 0.5vh;
	margin-bottom: 0.5vh;
}
.inspect-code{
	height: 35vh;
	overflow-y: auto;
	margin-top: 0.5vh;
}

.inspect-data{
	height: 37vh;
	overflow-y: auto;
	margin-top: 0.5vh;
}

/***********************
	End inspectView
************************/
/***********************
	Start manipulateView
************************/

.manipulate-interactive{
	overflow-y: auto;
}

.manipulate-tabs{
	height: 70vh;
}

/***********************
	End manipulateView
************************/
/***********************
	Start reproduceView
************************/

.reproduce-dialog{
	max-height: 85% !important;
}

/***********************
	End reproduceView
************************/
/***********************
	Start creationProcessView
************************/

.creationProcess-success-toast > .md-toast-content{
	background-color: green !important;
}

.creationProcess-failure-toast > .md-toast-content{
	background-color: red !important;
}

.creationProcess-divider{
	margin-top: 5px;
	margin-bottom: 5px;
}
/*
.creationProcess-confirm-cancel{
	z-index: 100;
}
*/
.md-dialog-container{
	z-index: 100 !important;
}

.required-last-author{
	margin-bottom: 0;
}

.required-add-author{
	margin-top: 0 !important;
}

.required-author-placeholder{
	height: 40px;
	width: 28px;
	padding-left: 6px;
	padding-right: 6px;
	margin: 6px 8px 6px 8px;
}

.required-whiteframe-padding{
	padding: 5px 5px 5px 5px;
}
/***********************
	End creationProcessView
************************/
/***********************
	Start IntroJs
************************/
.introjs-donebutton{
	color: #333 !important;
}

.introjs-helperNumberLayer{
	background: linear-gradient(to bottom, #006599 0%, #004286 100%) !important;
}
/***********************
	End IntroJs
************************/