/************************
   Start General
*************************/
body{
	min-height: 100vh;
}

#main{
	padding: 2%;
	
	height: auto !important;
	
	min-height: calc(100vh - 178px);
	
}
/*
#ui-view{
	height: 100%;
}
*/

.o2r-pointer{
	cursor: pointer;
}

.backgr-white{
	background-color: white;
}

.white-font{
	color: white !important;
}

.no-link{
	color: 0, 0, 0, 0.87 !important;
	text-decoration: none;
}
/************************
   End General
*************************/
/***********************
   Start ERC view
************************/
.erc_content{
	margin: 2em 0;
	position: relative;
	right:1%;
	top:5%;
}

.erc_pdf{
	min-height: 90em;
	min-width: 100%;
	margin-left: auto;
	margin-right: auto;
}


.erc_img{
	max-width: 100%;
}

.erc_jumboImg{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.erc-bigfile-par{
	text-align: center;
}

md-card-header-text{
	width: 100%;
	overflow-wrap: break-word;
}

treecontrol.tree-classic li.tree-expanded i.tree-branch-head {
    background: url("../img/o2r-folder.png") no-repeat !important;
}

treecontrol.tree-classic li.tree-collapsed i.tree-branch-head {
    background: url("../img/o2r-folder-closed.png") no-repeat !important;
}

treecontrol.tree-classic li.tree-leaf i.tree-leaf-head {
    background: url("../img/o2r-file.png") no-repeat !important;
}
/***********************
   End ERC view
************************/
/***********************
   Start Author-Landingpage view
************************/

#author-uploadbtn{
	float: right;
}

.author-row-title{
	height: 10%;
}

.author-row-content{
	height: 90%;
}

.author{
	height: 100%;
}

.author-panel-head{
	height: 7%;
	min-height: 50px;
}

.author-panel{
	max-height: calc(100% - 50px - 15px);
	/*
	margin-bottom: 10%;
	*/
	overflow-y: scroll;
}

.author-loc-header{
	padding-left: 5%;
}

.author_placeholder{
	margin: 8px;
}

#author-loc{
	max-height: 85vh;
	overflow-y: scroll;
}

/*
.author-sorter, .author-tr{
	cursor: pointer;
}

.author_tableHover{
	cursor: pointer;
}
*/
/*
.a-test{
	height: calc(100% - 15px);
	overflow-y: auto;
}
*/

/***********************
   End Author-Landingpage view
************************/

/***********************
   Start Home view
************************/

.home_searchinput{
	padding-right: 0px !important;
}

.home_div{
	height: 100%;
}

.home_search{
	position: relative;
	top: 15%;
}

#home_logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 10%;
}

#home-logo-box{
	padding-top: 10%;
}
/***********************
   End Home view
************************/

/***********************
   Start Search view
************************/
.search_searchbtn{
	float: right;
}

.search_searchinput{
	padding-right: 0px !important;
}
/*
.search_resTitle{
	cursor: pointer;
}

.search_resTable{
	padding-top: 15px;
	padding-bottom: 15px;
}
*/
/***********************
   End Search view
************************/

/***********************
   Start UploadModal
   credits for .drop-box and .drop-box.dragover to https://angular-file-upload.appspot.com/common.css
************************/

.upmod-dropbox {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    /*width: 170px;*/
	width: 90%;
    text-align: center;
   	padding: 50px 10px;
   /* margin-left: 10px;*/
    cursor: pointer;
}

.upmod-dropbox.dragover {
    border: 5px dashed #004286;
}

.upmod-dropbox:hover{
	border: 5px dashed #004286;
}

#upmod-progress {
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

#upmod-prog-text{
	width: 70px;
	text-align: center;
	padding-top: 10px;	
}
.upmod-glyph {
	padding-right: 5px;
}

.upmod-msg {
	padding-left: 5px;
}
/***********************
   End UploadModal
************************/
