/************************
   Start General
*************************/
body{
	min-height: 100vh;
}

#main{
	padding: 2%;
	padding-top: calc(64px + 1vh);
	height: auto !important;
	min-height: calc(100vh - 64px - 64px - 33px); /*full height - header - footer - padding-top*/
}

input {
            width: 120px;
            margin-right: 10px;
        }

.o2r-pointer{
	cursor: pointer;
}

.backgr-white{
	background-color: white;
}

.white-font{
	color: white !important;
}

.footer{
	height: 64px !important;
}

#o2r-header{
	z-index:100;
}
/*
.no-link{
	color: 0, 0, 0, 0.87 !important;
	text-decoration: none;
}
*/


.o2r-fixed{
	position: relative;
}

.o2r-icon{
	fill: rgba(0, 0, 0, 0.54) !important;
}

.o2r-white-icon{
	fill: white !important;
}

.o2r-red-icon{
	fill: #8e141c !important;
}

.o2r-green-icon{
	fill: green !important;
}
/************************
   End General
*************************/
/***********************
   Start ERC view
************************/
.erc-pdf{
	min-height: 90em;
	min-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.erc-html{
	min-width: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow-x: auto;
}

iframe.erc-html{
	border-style: none;
	/*min-height: 80vh;*/
}

erc-html iframe{
	border-style: none;
}

.erc-img{
	max-width: 100%;
}

.erc-video{
	max-width: 100%;
}

.erc-bigfile-par{
	text-align: center;
}

.erc-comptitle{
	padding-left: 5%;
}

#erc-treediv{
		padding-top: 5%;
}
md-card-header-text{
	width: 100%;
	overflow-wrap: break-word;
}

treecontrol.tree-classic li.tree-expanded i.tree-branch-head {
    background: url("../img/o2r-folder.png") no-repeat !important;
}

treecontrol.tree-classic li.tree-collapsed i.tree-branch-head {
    background: url("../img/o2r-folder-closed.png") no-repeat !important;
}

treecontrol.tree-classic li.tree-leaf i.tree-leaf-head {
    background: url("../img/o2r-file.png") no-repeat !important;
}
/***********************
   End ERC view
************************/
/***********************
   Start Author-Landingpage view
************************/
.author-left-nav{
	left: 1vw;
	width: 15vw;
}

.author-metadata{
	right: 1vw;
	width: 25vw;
}

.author-H3ToTheBack{
	display: inline-block;
	z-index: 0;
	background-color: red;
}

.author-AToTheFront{
	width: fit-content;
	z-index: 1;
	background-color: blue;
}
/***********************
   End Author-Landingpage view
************************/

/***********************
   Start Home view
************************/
#home-logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:15%;
	position: relative;
	top: 10%;
}

#home-label{
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	color: #434553;
}


#home-logo-box{
	padding-top: 5%;
}
/***********************
   End Home view
************************/

/***********************
   Start creation process
************************/
.metabuttons{
	width:100%;
}

.cardHeight{
	height:650px;
}

.selectdemoSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }
  .selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; }
  .selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; }
  .selectdemoSelectHeader md-content._md {
    max-height: 240px;
}

.md-select-width {
	width:220px;
}

.md-select-margin {
	margin-left:3%;
}



/***********************
   End creation process
************************/

/***********************
   Start Search view
************************/
.search-metadata{
	width: 25vw;
	right: 5vw;
}

.go-button{
	bottom:1em;
}

.search-button{
	bottom:1em;
}

.search-clickOnName:hover{
	text-decoration: underline;
}

.search-clickOnName{
	font-size: 1.5em;
}
.search-right-nav{
	right: 1vw;
	width: 5vw;
}

/***********************
   End Search view
************************/

/***********************
   Start UploadModal
   credits for .drop-box and .drop-box.dragover to https://angular-file-upload.appspot.com/common.css
************************/
.upmod-dropbox {
    background: #F8F8F8;
    border: 5px dashed #DDD;
	width: 90%;
    text-align: center;
   	padding: 50px 10px;
    cursor: pointer;
}

.upmod-dropbox.dragover {
    border: 5px dashed #004286;
}

.upmod-dropbox:hover{
	border: 5px dashed #004286;
}

#upmod-progress {
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

#upmod-prog-text{
	width: 70px;
	text-align: center;
	padding-top: 10px;
}

.upmod-checkbox{
	padding-top: 30px;
}
/***********************
   End UploadModal
************************/


/***********************
   Start pagination of search results
************************/
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

/***********************
   End pagination of search results
************************/
/***********************
	Start editMetadatView
************************/
.edit-button:hover{
	cursor: pointer;
}

.edit-metadata-label-color{
	color: rgba(0,0,0, 0.54);
}
/***********************
	End editMetadatView
************************/
/***********************
	Start compareView
************************/
o2r-compare md-card-content{
	overflow-y: hidden;
}
/***********************
	End compareView
************************/
/***********************
	Start examineView
************************/
.examine-main{
	height: 85vh;
}

.examine-main > md-card-content{
	overflow-y: auto;
}

.examine-rightside{
	height: 85vh;
}
/***********************
	End examineView
************************/
/***********************
	Start inspectView
************************/

.inspect-menu-button{
	padding: 0!important;
	height: 30px!important;
	width: 30px!important;
	line-height: normal!important;
	vertical-align: top!important;
}

.inspect-divider{
	margin-top: 0.5vh;
	margin-bottom: 0.5vh;
}
.inspect-code{
	height: 35vh;
	overflow-y: auto;
	margin-top: 0.5vh;
}

.inspect-data{
	height: 37vh;
	overflow-y: auto;
	margin-top: 0.5vh;
}

/***********************
	End inspectView
************************/
/***********************
	Start manipulateView
************************/

.manipulate-interactive{
	overflow-y: auto;
}


/***********************
	End manipulateView
************************/
