<div class="panel panel-default a-land" ng-controller="MetadataCtrl as vm">
	<div class="panel-heading a-land-panel-head">
		<h4>{{vm.compMeta.title}}</h4>
	</div>
	<div class="panel-body a-land-panel">
		<div ng-repeat="(key, value) in vm.compMeta">
			<span ng-hide="vm.isSpecial(key)"><h4>{{vm.caps(key)}}</h4>
			{{value}}</span>
			<span ng-show="vm.isSpecial(key) && key == 'status'"><h4>{{vm.caps(key)}}</h4>
				<span ng-hide="value.steps">
				{{value}}
				</span>
				<span ng-repeat="(key,value) in value.steps">
					<strong>{{key}}: </strong>{{value.status}}<br/>
				</span>
			</span>
		</div>
		<br/>
		<button class="btn btn-default" ng-click="vm.submit()">Go To</button>
	</div>
</div>
