<div layout="column">
	<md-card>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<!-- 
					TODO:
					as soon as a comp title will be available, change to comp.title
				-->
			<h4 class="white-font">{{comp.metadata.o2r.title}}
			</h4>
			</div>
		</md-toolbar>
		<md-card-content layout="column">
			<md-button class="md-primary md-raised white-font" ui-sref="erc({ercid: comp.id})">Go To</md-button>
			<div ng-repeat="(key, value) in comp">
				<!-- show not specially treated values -->
				<span ng-hide="isSpecial(key)"><h3>{{key | upperCase}}</h3>{{value}}</span>
				<!-- show specially treated values -->
				<span ng-show="isSpecial(key) && key == 'created'"><h3>{{key | upperCase}}</h3>{{value | date : 'yyyy-MM-dd HH:mm'}}</span>
				<span ng-show="isSpecial(key) && key == 'status'">
					<h3>{{key | upperCase}}</h3>
					<span ng-hide="value.steps">{{value}}</span>
					<span ng-repeat="(key, value) in value.steps">
						<strong>{{key}}: </strong>{{value.status}}<br/>
					</span>
				</span>
				<span ng-show="isSpecial(key) && key == 'metadata'" ng-repeat="(mkey, mvalue) in value.o2r">
					<!-- show not specially treated values in metadata.o2r -->
					<span ng-hide="isSpecial(mkey)"><h3>{{mkey | upperCase}}</h3>{{mvalue}}</span>
					<!-- show specially treated values in metadata.o2r -->
					<span ng-show="isSpecial(mkey) && mkey == 'author'">
						<h3>{{mkey | upperCase}}</h3>{{mvalue[0].authorName}}<br/>{{mvalue[0].authorAffiliation[0]}}
					</span>
					<span ng-show="isSpecial(mkey) && mkey == 'depends'">
						<h3>{{mkey | upperCase}}</h3>
						<span ng-repeat="dependance in mvalue">
							<span ng-repeat="(dkey, dvalue) in dependance">
								<strong>{{dkey}}:</strong>{{dvalue}}<br/>
							</span>
						</span>

					</span>
					<span ng-show="isSpecial(mkey) && mkey == 'keywords'">
						<h3>{{mkey | upperCase}}</h3><span ng-repeat="word in mvalue">{{word}} </span>
					</span>
				</span>
			</div>
		</md-card-content>
	</md-card>
</div>
