<div id="home-logo-box" layout="column">
	<img src="img/logo-transparent.png" alt="o2r-logo" id="home-logo"/>
	<div id="home-label"><p>Opening Reproducible Research</p></div>
	<md-content class="md-padding" layout-xs="column" layout="row" layout-align="center">
    <div flex-xs="" flex-gt-xs="40" layout="column">
      <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch="">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Create ERC</span>
			<div ng-show="!vm.loggedIn">You have to login first.</div>
          </md-card-title-text>
        </md-card-title>
		<form name="scieboSubmit" ng-submit="vm.submit()" flex-offset="20">
			<md-input-container md-no-float class="md-icon-float md-block" >
				<div ng-if="!vm.validUrl">Url or path not valid</div>
				<input type="url" name="scieboUrl" placeholder="Insert link to public folder" ng-model="vm.scieboUrl" flex="70" required>
			</md-input-container>
			<md-input-container md-no-float class="md-icon-float md-block home-input-folder">
				<input type"text" placeholder="Folder name" ng-model="vm.scieboPath" flex="70">
			</md-input-container>	
			<md-input-container md-no-float class="md-icon-float md-block home-input-analysis">
				<md-checkbox class="md-primary" ng-model="vm.checkRunAnalysis">
							Start analysis after upload
				</md-checkbox>	
				<md-button ng-click="vm.sendScieboUrl(vm.scieboUrl, vm.scieboPath, vm.checkRunAnalysis)" class="md-primary md-raised white-font" ng-disabled="!vm.loggedIn || !scieboSubmit.scieboUrl.$valid">Go</md-button>
			</md-input-container>
			<p>OR</p>
			<md-button ng-click="vm.openDialog($event)" class="go-button md-primary md-raised white-font" ng-disabled="!vm.loggedIn">Upload Workspace as .zip file</md-button>	
		</form>			
      </md-card>
    </div>    
	<div flex-xs="" flex-gt-xs="40" layout="column">
      <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch="" style="height:100%;">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Inspect ERC</span>
          </md-card-title-text>					
        </md-card-title>
				<form ng-submit="vm.submit()" flex-offset="20">
					<md-input-container md-no-float class="md-icon-float md-block" >
						<input type="text" placeholder="Inspect ERC: Enter ID" flex="70" ng-model="vm.ercID">
						<md-button ui-sref="erc({ercid: vm.ercID})" class="go-button md-primary md-raised white-font">Go</md-button>
					</md-input-container>
				</form>
      </md-card>
    </div>
	</md-content>	
</div>