<div layout="row">
	<!-- left side navigation -->
	<div layout="column" class="o2r-fixed author-left-nav">
		<md-card >
			<md-card-content layout="column">
				<md-button ng-click="vm.openDialog($event)">
					<md-icon md-svg-src="bower_components/material-design-icons/file/svg/production/ic_file_upload_48px.svg"></md-icon>
					Upload ERC
				</md-button>
				<md-divider></md-divider>
				<md-subheader class="backgr-white">Order By</md-subheader>
				<md-button ng-click="vm.sortType = 'date'; vm.sortReverse = !vm.sortReverse">
					Date
					<md-icon ng-show="vm.sortType == 'date' && vm.sortReverse" md-svg-src="bower_components/material-design-icons/navigation/svg/production/ic_arrow_downward_48px.svg"></md-icon>
					<md-icon ng-show="vm.sortType == 'date' && !vm.sortReverse" md-svg-src="bower_components/material-design-icons/navigation/svg/production/ic_arrow_upward_48px.svg"></md-icon>					
				</md-button>
				<md-button ng-click="vm.sortType = 'id'; vm.sortReverse = !vm.sortReverse">
					Title
					<md-icon ng-show="vm.sortType == 'id' && vm.sortReverse" md-svg-src="bower_components/material-design-icons/navigation/svg/production/ic_arrow_downward_48px.svg"></md-icon>
					<md-icon ng-show="vm.sortType == 'id' && !vm.sortReverse" md-svg-src="bower_components/material-design-icons/navigation/svg/production/ic_arrow_upward_48px.svg"></md-icon>					
				</md-button>
				<md-divider></md-divider>
				<md-button>
					Other Options
				</md-button>
				
			</md-card-content>
		</md-card>
	</div>

	<!-- list of compendia -->
	<div layout="column" flex="60" flex-offset="15">
		<md-card ng-if="vm.allPubs">
			<md-card-content>
				<md-list>
					<md-list-item class="md-2-line">
						<div class="md-list-item-text" layout="row">
							<h3 flex>TITLE</h3>
							<h4 flex>CREATED ON</h4>
							<p flex>USER</p>
						</div>
					</md-list-item>
					<md-divider></md-divider>
					<md-list-item class="md-2-line" ng-repeat="pub in vm.allPubs | orderBy:vm.sortType:vm.sortReverse" ng-click="vm.setId(pub.id)">
						<div class="md-list-item-text" layout="row">
							<h3 flex>{{pub.id}}</h3>
							<h4 flex>{{pub.created}}</h4>
							<p flex>{{pub.user}}</p>
						</div>
						<md-divider ng-if="!($last)"></md-divider>
					</md-list-item>
				</md-list>
			</md-card-content>
		</md-card>
		
		<!-- Message if not a single compendium has been uploaded yet -->
		<md-card ng-if="!vm.allPubs">
			<md-card-content>
				<span>No compendia uploaded yet.</span>
			</md-card-content>
		</md-card>

	</div>

	<!-- metadata panel -->
	<div layout="column" class="o2r-fixed author-metadata">
		<o2r-metadata ng-if="vm.allPubs"></o2r-metadata>
	</div>
</div>