<div layout="column">
	<div layou="row">
		<o2r-erc-download erc-id="{{vm.ercId}}"></o2r-erc-download>
	</div>
	<div layout="row">
		<!-- folder tree -->
		<div layout="column" flex="30">
		<md-card>
			<md-card-content>
				<treecontrol class="tree-classic" tree-model="vm.publication.files" options="vm.treeOptions" on-selection="showSelected(node)" on-node-toggle="showToggle(node, expanded, $parentNode, $index, $first, $middle, $last, $odd, $even, $path)" selected-node="node1">
					<span ng-click="vm.setOne(node.path)" analytics-category="ERC" analytics-on="click" analytics-event="show file {{node.name}}">{{node.name}}</span>
				</treecontrol>
			</md-card-content>
		</md-card>

		<!-- Analysis -->
		<div flex="30">
			<md-card>
				<md-card-content layout="column">
					<md-button class="md-raised" ng-click="vm.execJob()" ng-disabled="!vm.jobDone" analytics-on="click" analytics-category="ERC" analytics-event="execute">Run analysis</md-button>
					<div>
						<h3>Last finished analysis</h3>
						<table ng-hide="vm.isEmpty(vm.execStatus)">
							<tr ng-repeat="(key, value) in vm.execStatus"><td>{{key}}:</td><td><strong>{{value.status}}</strong></td></td></tr>
						</table>
						<span ng-show="vm.isEmpty(vm.execStatus)">No analysis executed yet.</span>
					</div>
					<div ng-if="vm.gotSocket">
						<md-divider></md-divider>
						<h3>Currently running analysis</h3>
						<table>
							<tr ng-repeat="(key, value) in vm.steps"><td>{{key}}:</td><td><strong>{{value}}</strong></td></td></tr>
						</table>
					</div>
				</md-card-content>
			</md-card>
		</div>
		</div>

		<!-- Content -->
		<div layout="column" flex="65" flex-offset="5">
		<md-card>
			<md-card-header>
				<md-card-header-text class="md-title" layout="row">
					<span>{{vm.oneFile.path | cutPath}}</span>
					<span flex></span>
					<!-- Menu for downloading single file or copying absolute path -->
					<md-menu ng-if="vm.oneFile.path">
						<md-button class="md-icon-button" aria-label="show file path or download file" ng-click="vm.openMenu($mdOpenMenu, $event)">
							<md-icon md-menu-origin md-svg-src="{{vm.icons.menu}}" class="o2r-icon"></md-icon>
						</md-button>
						<md-menu-content width="4">
							<md-menu-item>
								<md-input-container class="md-icon-float md-block">
									<label></label>
									<md-icon md-svg-src="{{vm.icons.copy}}" class="o2r-icon"></md-icon>
									<input type="text" value="{{vm.server + vm.oneFile.path}}" onClick="this.select();" ng-readonly="true">
								</md-input-container>
							</md-menu-item>
							<md-menu-divider></md-menu-divider>
							<md-menu-item>
								<md-button ng-href="{{vm.oneFile.path}}" download>
									<md-icon flex="10" md-svg-src="{{vm.icons.download}}" class="o2r-icon"></md-icon>
									Download file
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>

				</md-card-header-text>
			</md-card-header>
			<md-card-content>
				<o2r-display-files o2r-file="{{vm.oneFile}}"></o2r-display-files>
			</md-card-content>
		</md-card>
		</div>
	</div>
</div>
