<div layout="column">
	<div layou="row">
		<o2r-erc-download erc-id="{{vm.ercId}}"></o2r-erc-download>
	</div>
	<div layout="row">
		<!-- folder tree -->
		<div layout="column" flex="30">
		<md-card>
			<md-card-content>
				<treecontrol class="tree-classic" tree-model="vm.publication.files" options="vm.treeOptions" on-selection="showSelected(node)" on-node-toggle="showToggle(node, expanded, $parentNode, $index, $first, $middle, $last, $odd, $even, $path)" selected-node="node1">
					<span ng-click="vm.setId(node.path)" analytics-category="ERC" analytics-on="click" analytics-event="show file {{node.name}}">{{node.name}}</span>
				</treecontrol>
			</md-card-content>
		</md-card>

		<!-- Analysis -->
		<div flex="30">
			<md-card>
				<md-card-content layout="column">
					<md-button class="md-raised md-primary" ng-click="vm.execJob()" ng-disabled="!vm.jobDone" analytics-on="click" analytics-category="ERC" analytics-event="execute">Run analysis</md-button>
					<span ng-repeat="(key, value) in vm.execStatus">{{key}}:<strong>{{value.status}}</strong><br/></span>
				</md-card-content>
			</md-card>
		</div>
		</div>

		<!-- Content -->
		<div layout="column" flex="65" flex-offset="5">
		<md-card>
			<md-card-header>
				<md-card-header-text class="md-title">
					{{vm.getOne(vm.fileId).path}}
				</md-card-header-text>
			</md-card-header>
			<md-card-content>
				<o2r-display-files o2rid="{{vm.fileId}}"></o2r-display-files>
				<hljs hljs-include="vm.getOne(vm.fileId).path" ng-if="vm.displaySource(vm.getOne(vm.fileId).type) && (vm.getOne(vm.fileId).size < vm.sizeRestrict)"></hljs>
			</md-card-content>
		</md-card>
		</div>
	</div>
</div>
