<md-card class="cardHeight">
    <md-card-content layout="column">
        <form>
                <h1>Optional metadata</h1>
                <md-input-container class="md-block">
                    <label>Keywords</label>
                    <input ng-model="key" ng-value="">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Paper Language</label>
                    <input ng-model="lang" ng-value="">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Research question(s)</label>
                    <input ng-model="question" ng-value="">
                </md-input-container> 
                <md-input-container class="md-block">
                    <label>Hypotheses</label>
                    <input ng-model="hypothesis" ng-value="">
                </md-input-container>                                
        </form>
    </md-card-content>
</md-card>


