<md-card>
    <md-card-content layout="column">
        <form name="requiredForm">
                <h1>Required metadata</h1>
                <md-input-container class="md-block">
                    <label>Title</label>
                    <input ng-model="vm.required.title" ng-value="vm.required.title" ng-change="vm.updateTitle(vm.required.title)" name="title" required>
                    <div ng-messages="requiredForm.title.$error">
                        <div ng-message="required">Required field</div>
                    </div>
                </md-input-container>
                <div ng-repeat="author in vm.required.author track by $index" style="display:inline-flex">
                    <md-input-container class="md-block">
                        <label>Author</label>
                        <input ng-model="vm.required.author[$index].name" ng-value="author.name" ng-change="vm.updateAuthorName(vm.required.author[$index].name, $index)" name="authorname" required>
                        <div ng-messages="requiredForm.authorname.$error">
                            <div ng-message="required">Required field</div>
                        </div>
                    </md-input-container> 
                    <md-input-container class="md-block">
                        <label>Affiliation</label>
                        <input ng-model="vm.required.author[$index].affiliation" ng-value="author.affiliation" ng-change="vm.updateAuthorAffiliation(vm.required.author[$index].affiliation, $index)" name="authoraffiliation">
                    </md-input-container> 
                    <md-input-container class="md-block">
                        <label>Orcid</label>
                        <input ng-model="vm.required.author[$index].orcid" ng-value="author.orcid" ng-change="vm.updateAuthorOrcid(vm.required.author[$index].orcid, $index)" name="authororcid">
                    </md-input-container>                                        
                </div>
                <md-input-container class="md-block">
                    <label>Abstract</label>
                    <textarea rows="5" ng-model="vm.required.description" ng-value="vm.required.description" ng-change="vm.updateDescription(vm.required.description)" name="description" required></textarea>
                    <div ng-messages="requiredForm.description.$error">
                        <div ng-message="required">Required field</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Publication Date</label>
                    <input ng-model="vm.required.publicationDate" ng-value="vm.required.publicationDate" ng-change="vm.updatePublicationDate(vm.required.publicationDate)" name="publicationDate" required>
                    <div ng-messages="requiredForm.publicationDate.$error">
                        <div ng-message="required">Required field</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Citation</label>
                    <input ng-model="vm.required.softwarePaperCitation" ng-value="vm.required.softwarePaperCitation" ng-change="vm.updateSoftwarePaperCitation(vm.required.softwarePaperCitation)" name="softwarePaperCitation" required>
                    <div ng-messages="requiredForm.softwarePaperCitation.$error">
                        <div ng-message="required">Required field</div>
                    </div>
                </md-input-container>
                <!--
                <md-input-container class="md-block md-select-width">
                    <label>License</label>
                    <md-select ng-model="vm.required.license">
                        <md-option ng-repeat="license in vm.">
                    </md-select>

                </md-input-container>
                -->
                <!--
                <div style="display:inline-flex">
                    <md-input-container class="md-block md-select-width">
                        <label>License: Dataset</label>
                        <md-select ng-model="requiredctrl.finalCodeLicense"
                                md-on-close="requiredctrl.codeLicenseSelected()"
                                data-md-container-class="selectdemoSelectHeader"
                                multiple="false">
                        <md-select-header class="demo-select-header">
                            <input ng-model="requiredctrl.searchTerm"
                                type="search"
                                placeholder="Search for a license"
                                class="demo-header-searchbox md-text">
                        </md-select-header>
                        <md-optgroup label="licenses">
                            <md-option ng-value="license" ng-repeat="license in requiredctrl.codeLicense |
                            filter:searchTerm">{{license.id}}</md-option>
                        </md-optgroup>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block md-select-width md-select-margin">
                        <label>License: Dataset</label>
                        <md-select ng-model="requiredctrl.finalDataLicense"
                                md-on-close="requiredctrl.dataLicenseSelected()"
                                data-md-container-class="selectdemoSelectHeader"
                                multiple="false">
                        <md-select-header class="demo-select-header">
                            <input ng-model="requiredctrl.searchTerm"
                                type="search"
                                placeholder="Search for a license"
                                class="demo-header-searchbox md-text">
                        </md-select-header>
                        <md-optgroup label="licenses">
                            <md-option ng-value="license" ng-repeat="license in requiredctrl.dataLicense |
                            filter:searchTerm">{{license.id}}</md-option>
                        </md-optgroup>
                        </md-select>
                    </md-input-container>       
                    <md-input-container class="md-block md-select-width md-select-margin">
                        <label>License: Text</label>
                        <md-select ng-model="requiredctrl.finalTextLicense"
                                md-on-close="requiredctrl.textLicenseSelected()"
                                data-md-container-class="selectdemoSelectHeader"
                                multiple="false">
                        <md-select-header class="demo-select-header">
                            <input ng-model="requiredctrl.searchTerm"
                                type="search"
                                placeholder="Search for a license"
                                class="demo-header-searchbox md-text">
                        </md-select-header>
                        <md-optgroup label="licenses">
                            <md-option ng-value="license" ng-repeat="license in requiredctrl.textLicense |
                            filter:searchTerm">{{license.id}}</md-option>
                        </md-optgroup>
                        </md-select>
                    </md-input-container>    
                    <md-input-container class="md-block md-select-width md-select-margin">
                        <label>License: UI Binding</label>
                        <md-select ng-model="requiredctrl.finalBindingLicense"
                                md-on-close="requiredctrl.bindingLicenseSelected()"
                                data-md-container-class="selectdemoSelectHeader"
                                multiple="false">
                        <md-select-header class="demo-select-header">
                            <input ng-model="requiredctrl.searchTerm"
                                type="search"
                                placeholder="Search for a license"
                                class="demo-header-searchbox md-text">
                        </md-select-header>
                        <md-optgroup label="licenses">
                            <md-option ng-value="license" ng-repeat="license in requiredctrl.ui_bindingLicense |
                            filter:searchTerm">{{license.id}}</md-option>
                        </md-optgroup>
                        </md-select>
                    </md-input-container>                                                   
                </div> 
                -->               
        </form>
    </md-card-content>
</md-card>


