<md-card>
    <md-card-content layout="column">
        <form>
            <h4>Shiny app</h4>
            <md-input-container class="md-block">
                <label>URL to Shiny app</label>
                <input ng-model="vm.binding.shinyURL" ng-value="vm.binding.shinyURL" name="shinyURL" ng-change="vm.updateUibinding('shinyURL', vm.binding.shinyURL)">
            </md-input-container>
            <h4>Code File</h4>
            <md-input-container class="md-block">
                <label>Select code file</label>
                <md-select ng-model="vm.underlyingCode" name="codefile">
                    <md-option ng-repeat="codeinput in vm.input.viewfiles track by $index" value="{{$index}}">
                        {{codeinput | cutPath}}
                    </md-option>
                </md-select>
            </md-input-container>
            <h4>Data File</h4>  
            <md-input-container class="md-block">
                <label>Select data file</label>
                <md-select ng-model="vm.underlyingData" name="datafile">
                    <md-option ng-repeat="datainput in vm.input.r_rdata track by $index" value="{{$index}}">
                        {{datainput.file | cutPath}}
                    </md-option>
                </md-select>
            </md-input-container>                            
        </form>
    </md-card-content>
</md-card>