<md-dialog aria-label="Upload Dialog">
	
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h3 class="white-font">Upload workspace</h3>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="vm.cancel()">
					<md-icon class="o2r-white-icon" md-svg-src="{{vm.icons.close}}" aria-label="Close" class="o2r-icon"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		
		<md-dialog-content layout="column">
			<div class="md-dialog-content" layout="column">
				<div layout="column" ng-hide="vm.doneButton">
					<p>Select a file or drag and drop it into area!</p>
					<form name="vm.form">
						<div 
							class="upmod-dropbox" 
							ngf-select="vm.selected($file)" 
							ngf-drop="vm.selected($file)" 
							ng-model="vm.file" 
							name="file" 
							ngf-accept="'.zip'"><span ng-hide="vm.f.name">Click<br />or<br/>Drag 'n Drop</span><span ng-show="vm.f.name">{{vm.f.name}}</span></div>
					</form>
				</div>

				<div ng-show="vm.doneButton && vm.checkUpload">
					<p>File uploaded successfully</p>
				</div>
				<div ng-show="vm.doneButton && !vm.checkUpload">
					<p>File upload failed!</p>
					<p>{{vm.uploadError}}</p>
				</div>

				<div id="upmod-progress" ng-show="vm.onLoad" flex="90">
					<md-progress-circular md-mode="determinate" value="{{vm.f.progress}}" md-diameter="70"></md-progress-circular>
					<div id="upmod-prog-text">{{vm.f.progress}}%</div>
				</div>
			</div>
		</md-dialog-content>
	
		<md-dialog-actions layout="row">
			<md-button class="md-primary md-raised white-font" ng-click="vm.submit()" ng-disabled="!vm.fileSelected" ng-hide="vm.doneButton">
				Submit
			</md-button>
			<md-button class="md-primary md-raised white-font" ng-click="vm.cancel()" ng-hide="vm.doneButton">
				Cancel
			</md-button>			
			<md-button class="md-raised" ng-hide="!vm.doneButton" ng-click="vm.done()" >
				Done
			</md-button>
		</md-dialog-actions>
</md-dialog>