<div id="substitute_ERCview" class="substitute_ERCview">

<!-- list of similar compendia -->
  <md-card ng-if="vm.similarPubs">
    <md-card-content>
      <md-list>

        <md-list-item class="md-2-line" ng-repeat="pub in vm.similarPubs">
          <div class="md-list-item-text" layout="row">
            <div flex="70" id="substitutionErcSelectionViewTitle">
              <md-button ui-sref="erc({ercid: pub.id})" title="{{pub.metadata.o2r.title}}" target="_blank"><b class="search-clickOnName">{{pub.metadata.o2r.title | cutLongName : vm.divWidth}}</b></md-button>
              <p flex><b>Created on:</b> {{pub.created | date : 'yyyy-MM-dd HH:mm'}}</p>
              <p flex><b>by</b> {{pub.user}}</p>
              <p flex>{{pub.metadata.raw.description}}</p>
            </div>
            <div flex="30">
              <md-button title="substitution options" class="md-raised" ng-click="vm.substituteOptions($event, pub)"><md-icon aria-label md-svg-src="{{vm.icons.substitution_options}}"></md-icon></md-button>
            </div>
          </div>

          <md-divider ng-if="!($last)"></md-divider>
        </md-list-item>

      </md-list>
    </md-card-content>
  </md-card>
</div>

  <!-- Message if not a single compendium has been uploaded yet -->
  <md-card ng-if="!vm.similarPubs">
    <md-card-content>
      <span>No similar compendia.</span>
    </md-card-content>
  </md-card>



<div style="visibility: hidden">
  <div class="md-dialog-container" id="showCandidateView">
    <md-dialog layout-padding>

      <div id="tableSubstitutionOptions">
        <table style="width:100%">
          <tr>
            <th style="width:45%">base ERC:</th>
            <th style="width:10%">X</th>
            <th style="width:45%">overlay ERC:</th>
          </tr>
          <tr>
            <th>{{vm.base.metadata.o2r.title}}</th>
            <th>X</th>
            <th>{{vm.overlay.metadata.o2r.title}}</th>
          </tr>
          <tr ng-repeat="file in filePairs">
            <td>{{ file.basefile }}</td>
            <td>
              <input aria-label type="checkbox" ng-checked="exists(file, selectedSubstitutionFiles)" ng-click="toggleSubstitutionFile(file, selectedSubstitutionFiles)">
              <span ng-if="exists(file, selectedSubstitutionFiles)">selected</span>
            </td>
            <td>{{ file.overlayfile }}</td>
          </tr>
        </table>
      </div>

      <div>
        {{selected | json}}
      </div>

      <div>
          <md-button ng-click="cancel()">cancel</md-button>
          <md-button ng-click="startSubstitutionUI()">start substitution</md-button>
      </div>

    </md-dialog>
  </div>
</div>
