<!--upper part -->
{{vm.code.name}}
<div class="inspect-code">
    <o2r-display-files o2r-file="{{vm.code}}"></o2r-display-files>
</div>

<md-divider class="inspect-divider"></md-divider>

<!-- lower part -->
<div layout="row">
    {{vm.selectedData.name}}
    <span flex></span>
    <md-menu md-position-mode="target-right target">
        <md-button aria-label="Datafiles Menu" class="md-icon-button inspect-menu-button" ng-click="$mdMenu.open($event)">
            <md-icon md-menu-origin md-svg-icon="{{vm.icons.menu}}"></md-icon>
        </md-button>
        <md-menu-content width="4">
            <md-menu-item ng-repeat="item in vm.datasets track by $index">
                <md-button ng-click="vm.selectData(item)">
                    {{item.name}}
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>

<div class="inspect-data">
    <o2r-display-files o2r-file="{{vm.selectedData}}"></o2r-display-files>
</div>