<div class="manipulate-interactive">
    <md-tabs class="manipulate-tabs" md-selected="vm.selectedTab" md-border-bottom md-autoselect>
        <!--<md-tab ng-repeat="binding in vm.manipulations track by $index" label="Figure {{$index + 1}}">-->
            <md-tab ng-repeat="binding in vm.manipulations track by $index" label="{{vm.manipulations[$index].result.value}}">
            <p>You can change the original parameter <b>{{binding.code.parameter.text}}</b> within the range <b>{{binding.code.parameter.widget.min}} - {{binding.code.parameter.widget.max}}</b></p>
            <div ng-if="vm.slider">
                <md-slider-container>
                    <md-slider flex min={{binding.code.parameter.widget.min}} max={{binding.code.parameter.widget.max}} step={{binding.code.parameter.widget.step}}
                                ng-model="vm.threshold">
                    </md-slider>
                    <md-input-container>
                        <input flex type="number" ng-model="vm.threshold" aria-controls="slider">
                    </md-input-container>
                </md-slider-container>
            </div>
            <div ng-if="vm.radio">
                <md-radio-group ng-model="vm.threshold" layout="row">
                    <md-radio-button ng-repeat="option in binding.code.parameter.widget.options track by $index" 
                                        ng-value="option">{{binding.code.parameter.widget.options[$index]}}
                    </md-radio-button>
                </md-radio-group>
            </div>
            <div style = "text-align: center;">
                <img src={{vm.query}} style = "width:450px;">
            </div>
            <div>
                <p style = "text-align: center;">{{binding.result.value}}: {{binding.code.parameter.widget.label}}</p>
            </div>
        </md-tab>
    </md-tabs>
    <div layout="row">
        <span flex></span>
        <md-button class="md-raised" aria-label="Inspect Code and Data" ng-click="vm.activateCodeData()">
            Inspect Code and Data
        </md-button>
    <span flex></span>
    </div>
</div>
