
<div class="row">
	<div class="col-md-12">
		<h3>Author section: </h3>
	</div>
</div>


<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-body" o2r-folder-tree>
				<div ng-repeat="file in publications.content">
					<a href="#/author/{{file.id}}">{{file.name}}</a>
				</div>
			</div>
		</div>
	</div>




	
	<div class="col-md-8">
		<div class="panel panel-default contentview">

				<!-- Display of images and files -->

				<div class="panel-body author_content">
					<div id="content" o2r-display-files></div>
				</div>
			
		</div>
	</div>
</div>