<div class="row a-land-row-title">
	<div class="col-md-12">
		<h3>Landingpage<button id="a-land-uploadbtn" class="btn btn-primary">Upload Compendium</button></h3>
	</div>
</div>

<div class="row a-land-row-content">


	<!-- List of compendia -->
	<div class="col-md-4 a-land">
		
		<div class="panel panel-default a-land">
			<div class="panel-heading a-land-panel-head">
				<h4>List of Compendia</h4>
			</div>


			<div class="panel-body a-land-panel">
			
				<table class="table table-hover a-land-table">
					<thead>
						<tr><th class="a-land-sorter" ng-click="sortType = 'title'; sortReverse = !sortReverse">Title
							<span class="glyphicon glyphicon-triangle-bottom" ng-show="sortType == 'title' && sortReverse"></span>
							<span class="glyphicon glyphicon-triangle-top" ng-show="sortType == 'title' && !sortReverse"></span>
						</th><th class="a-land-sorter" ng-click="sortType = 'date'; sortReverse = !sortReverse">Date
							<span class="glyphicon glyphicon-triangle-bottom" ng-show="sortType == 'date' && sortReverse"></span>
							<span class="glyphicon glyphicon-triangle-top" ng-show="sortType == 'date' && !sortReverse"></span>
						</th></tr>
					</thead>
					<tbody>
						<tr class="a-land-tr" ng-repeat="pub in allPubs | orderBy:sortType:sortReverse" ng-click="setId(pub.id)">
						<td>{{pub.title}}</td><td>{{pub.date}}</td></tr>
					</tbody>
				</table>
			</div>
		</div>	
			
		
	</div>
	
	<!-- Metadata panel -->
	<div class="col-md-8 a-land">
		<div class="panel panel-default a-land">
			<div class="panel-heading a-land-panel-head">
				<h4>{{getOne(pubId).title}}</h4>
			</div>
			<div class="panel-body a-land-panel">
				<div ng-repeat="(key, value) in getOne(pubId)">
					<span ng-hide="key == 'content'"><h4>{{caps(key)}}</h4>
					{{value}}</span>
				</div>
				<br/>
				<a ng-href="index.html#/erc/{{getOne(pubId).id}}"><button class="btn btn-default">Go To</button></a>
			</div>
		</div>
	</div>
</div>