<div class="row">
	<div class="col-md-12">
		<h3>ERC Details: </h3>
	</div>
</div>


<div class="row">

	<!-- left side -->
	<div class="col-md-4">
		<!-- folder Tree -->
		<div class="panel panel-default">
			<div class="panel-body">
				<treecontrol class="tree-classic" tree-model="publication.files" options="treeOptions" on-selection="showSelected(node)" on-node-toggle="showToggle(node, expanded, $parentNode, $index, $first, $middle, $last, $odd, $even, $path)" selected-node="node1"><span ng-click="setId(node.path)">{{node.name}}</span></treecontrol>
			</div>
		</div>


		<button type="button" class="btn btn-primary" ng-click="execJob()" ng-disabled="!jobDone">Run analysis</button>
		<br/>
		<span ng-repeat="(key, value) in execStatus">{{key}}:<strong>{{value.status}}</strong><br/></span>
	</div>



	<!-- right side -->
	<div class="col-md-8">
		<!-- Content -->
		<div class="panel panel-default contentview">
				<div class="panel-heading"><h5>{{getOne(fileId).path}}</h5></div>
				<div class="panel-body erc_content">
					<!-- Display of images and files -->
					<o2r-display-files id="content" o2rid="{{fileId}}"></o2r-display-files>
					<hljs hljs-include="getOne(fileId).path" ng-if="displaySource(getOne(fileId).type) && (getOne(fileId).size < sizeRestriction)"></hljs>
				</div>
		</div>
	</div>
</div>

