<div class="row home_div">
	<div class="col-md-8 col-md-offset-2 home_div">
		<div class="row home_div">
			<h1 class="home_h1">Opening Reproducible Research</h1>
			<div class="home_search">
				<div class="col-md-11 home_searchinput">
					<form class="form-inline" ng-submit="submit()">
						<div class="input-group input-group-lg col-md-10">
							<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
				  			<input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1" ng-model="searchModel"/>
						</div>
						<button type="submit" class="btn btn-primary btn-lg">Search</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>