<h3>Privacy Policy</h3>
<h4 id="userdata">User Data</h4>
<p>
o2r stores following <strong>user data</strong> in its database:
<ul>
	<li>ORCID id</li>
	<li>username</li>
	<li>user level</li>
	<li>date of last login</li>
</ul>
</p>

<h4 id="cookies">Cookies</h4>
<p>
	o2r uses a <strong>session cookie</strong>. This cookie stores a unique reference to a session (including auth details, if the user is autheticated via orcid).
</p>
<h4 id="login">Login</h4>
<p>
	o2r uses OAUTH2 to provide a login via <strong>ORCID</strong>. More information about the ORCID privacy policy <a href="http://orcid.org/content/orcid-privacy-policy#Information_we_collect" target="_blank">here</a>.
</p>
<p>
	ORCID is known to cause issues when using ghostery and other tacking control software. More information <a href="http://support.orcid.org/forums/175591-orcid-ideas-forum/suggestions/5534995-allow-login-to-orcid-org-without-google-analytics" target="_blank">here</a>.
</p>