<div class="row">

	<!-- search bar -->
	<div class="col-md-6 search_searchinput">
		<form class="form-inline" ng-submit="submit()">
			<div class="input-group col-md-10">
				<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
	  			<input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1" ng-model="searchModel" ng-value="{{searchTerm}}"/>
			</div>
			<button type="submit" class="btn btn-primary">Search</button>
		</form>
	</div>


	<!-- Metadata -->
	<div class="col-md-6" ng-if="checkPubId()">
		<ng-include src="'templates/metadata_panel.html'"></ng-include>
	</div>
</div>