<div class="modal-header">
    <h3 class="modal-title">Upload Compendium</h3>
</div>
<div class="modal-body">

	<div class="row">
		<div class="col-md-4">
			<form name="form">
			<div 
			class="upmod-dropbox" 
			ngf-select="selected($file)" 
			ngf-drop="selected($file)" 
			ng-model="file" 
			name="file" 
			ngf-pattern="'application/zip, .gz'" 
			ngf-accept="'.zip, .gz'"><span ng-hide="f.name">Click <br/ >or <br/> Drag 'n Drop</span><span ng-show="f.name">{{f.name}}</span></div>
			</form>
			<div class="upmod-progress" ng-if="f.progress >= 0">	
		    	<uib-progressbar value="f.progress"><span style="color:white; white-space:nowrap;">{{f.progress}}%</span></uib-progressbar>
		    </div>
	    </div>
	    <div class="col-md-8">
	    	<div class="upmod-msg" ng-if="checkUpload && (f.progress == 100)">
		    	<h4><span class="glyphicon glyphicon-ok upmod-glyph" aria-hidden="true"></span>Compendium successfully uploaded</h4>
	    	</div>
	    	<div class="upmod-msg" ng-if="!checkUpload && (f.progress == 100)">
		    	<h4><span class=" glyphicon glyphicon-exclamation-sign upmod-glyph" aria-hidden="true"></span>Upload failed</h4>
	    	</div>
	    </div>
    </div>

</div>
<div class="modal-footer">
	<div ng-hide="doneButton">
    <button class="btn btn-primary" type="button" ng-click="submit()">OK</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
 	</div>
    <button class="btn btn-primary" type="button" ng-click="ok()" ng-show="doneButton">Done</button>
</div>

