<div layout="column">
	<md-card>
		<md-toolbar>
			<div class="md-toolbar-tools">
                <h4 class="white-font">{{comp.metadata.o2r.title}}</h4>
			</div>
		</md-toolbar>
		<md-card-content layout="column">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Publication">
                    <ng-form name="myforms.publicationform" novalidate>
                        <div layout="row" ng-if="editMode">
                            <md-button ng-disabled="!myforms.publicationform.$valid || !myforms.technicalform.$valid || !checkChanges()" ng-click="saveChanges(original.ercIdentifier, meta, original)" class="md-primary md-raised white-font" aria-label="Save Changes">Save Changes</md-button>
                            <md-button ng-click="cancelEditing()" aria-label="Cancel">Cancel</md-button>
                        </div>
                        <!-- Author Information -->
                        <!-- show info -->
                        <h3>Author
                            <md-icon class="edit-button" ng-click="edit('author')" flex-offset="5" md-svg-src="{{icons.edit}}"></md-icon>
                            <md-icon ng-if="showInput('author')" class="edit-button" ng-click="addItem(meta.author, 'author')" flex-offset="5" md-svg-src="{{icons.add}}"></md-icon>
                        </h3>
                        <div ng-hide="showInput('author')" layout="column" ng-repeat="author in original.author">
                            <span>{{author.name}}</span>
                            <span ng-repeat="affiliation in author.affiliation">{{affiliation}}</span>
                            <span ng-if="notNull(author.orcid)">Orcid: {{author.orcid}}</span>
                            <md-divider ng-if="!$last"></md-divider>
                        </div>
                        <!-- end show info -->
                        <!-- edit info -->
                        <div ng-show="showInput('author')">
                            <div ng-repeat="author in meta.author track by $index">
                                <md-input-container>
                                    <label>Name</label>
                                    <input ng-model="meta.author[$index].name" ng-value="'{{author.name}}'" name="authorname" required>
                                    <div ng-messages="myforms.publicationform.authorname.$error" md-auto-hide="false">
                                        <div ng-message="required">Required field</div>
                                    </div>
                                </md-input-container>
                                <md-input-container ng-repeat="affiliation in author.affiliation track by $index">
                                    <label>Affiliation</label>
                                    <input ng-model="meta.author[$parent.$index].affiliation[$index]" ng-value="'{{affiliation}}'">
                                    <md-icon ng-if="$last" class="edit-button" md-svg-src="{{icons.add}}" ng-click="addItem($parent.$parent.author.affiliation, null)"></md-icon>
                                </md-input-container>
                                <md-input-container>
                                    <label>Orcid</label>
                                    <input ng-model="meta.author[$index].orcid" ng-value="'{{author.orcid}}'">
                                </md-input-container>
                                <md-divider ng-if="!$last"></md-divider>
                            </div>
                        </div>
                        {{myforms.form}}
                        <!-- End Author Information -->

                        <!-- Publication Information -->
                        <!-- show info -->
                        <h3>Publication<md-icon class="edit-button" ng-click="edit('publication')" flex-offset="5" md-svg-src="{{icons.edit}}"></md-icon></h3>
                        <div ng-hide="showInput('publication')" layout="column">
                            <span ng-if="notNull(original.title)"><h4>Title</h4> {{original.title}}</span>
                            <span ng-if="notNull(original.description)"><h4>Abstract</h4> {{original.description}}</span>
                            <span ng-if="original.hasOwnProperty('dateCreated') && notNull(original.dateCreated)"><h4>Date</h4>{{original.dateCreated}}</span>
                            <span ng-if="original.paperLanguage[0].length != 0"><h4>Language</h4><span ng-repeat="lang in original.paperLanguage">{{lang}}<span ng-hide="$last">, </span></span></span>
                            <span ng-if="original.keywords[0].length != 0"><h4>Keywords</h4><span ng-repeat="keyword in original.keywords">{{keyword}}<span ng-hide="$last">, </span></span></span>
                            <span ng-if="notNull(original.softwarePaperCitation)"><h4>Citation</h4> {{original.softwarePaperCitation}}</span>
                        </div>
                        <!-- end show info -->

                        <!-- begin edit info-->
                        <div ng-show="showInput('publication')" layout="column">
                            <md-input-container class="md-block">
                                <label>Title</label>
                                <input ng-model="meta.title" ng-value="original.title" name="title" required>
                                <div ng-messages="myforms.publicationform.title.$error" md-auto-hide="false">
                                    <div ng-message="required">Required field</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Abstract</label>
                                <textarea rows="5" ng-model="meta.description" ng-value="original.description" name="description" required></textarea>
                                <div ng-messages="myforms.publicationform.description.$error" md-auto-hide="false">
                                    <div ng-message="required">Required field</div>
                                </div>
                            </md-input-container>
                            <md-input-container>
                                <!--
                                <span class="edit-metadata-label-color">Publication Date</span><md-datepicker ng-model="date" md-placeholder="Publication date" ng-change="changedDate(date)"></md-datepicker>
                                -->
                                <label>Publication Date</label>
                                <md-datepicker ng-model="date" ng-change="changedDate(date)" name="date" required></md-datepicker>
                                <div ng-messages="myforms.publicationform.date.$error" md-auto-hide="false">
                                    <div ng-message="required">Required field</div>
                                </div>
                            </md-input-container>
                            <md-input-container ng-repeat="lang in meta.paperLanguage track by $index">
                                <label>Paper Language</label>
                                <input ng-model="meta.paperLanguage[$index]" ng-value="lang">
                                <md-icon ng-if="$last" class="edit-button" md-svg-src="{{icons.add}}" ng-click="addItem(meta.paperLanguage, null)"></md-icon>
                            </md-input-container>
                            <!-- Keywords -->
                            <md-input-container ng-repeat="keyword in meta.keywords track by $index">
                                <label>Keywords</label>
                                <input ng-model="meta.keywords[$index]" ng-value="keyword">
                                <md-icon ng-if="$last" class="edit-button" md-svg-src="{{icons.add}}" ng-click="addItem(meta.keywords, null)"></md-icon>
                            </md-input-container>
                            <!-- End Keywords -->
                            <md-input-container class="md-block">
                                <label>Citation</label>
                                <input ng-model="meta.sofwarePaperCitation" ng-value="original.softwarePaperCitation">
                            </md-input-container>
                        </div>
                    </ng-form>
                        <!-- end edit info-->
                        <!-- end publication information -->
                </md-tab>

                <md-tab label="Technical">
                    <ng-form name="myforms.technicalform" novalidate>
                        <div layout="row" ng-if="editMode">
                            <md-button ng-disabled="!myforms.publicationform.$valid || !myforms.technicalform.$valid || !checkChanges()" ng-click="saveChanges(original.ercIdentifier, meta, original)" class="md-primary md-raised white-font" aria-label="Save Changes">Save Changes</md-button>
                            <md-button ng-click="cancelEditing()" aria-label="Cancel">Cancel</md-button>
                        </div>

                        <!-- Show Info -->
                        <h3>Technical Metadata<md-icon class="edit-button" ng-click="edit('tech')" flex-offset="5" md-svg-src="{{icons.edit}}"></md-icon></h3>
                        <div ng-hide="showInput('tech')" layout="column">
                            <span ng-if="notNull(original.ercIdentifier)"><h4>Erc Id</h4>{{original.ercIdentifier}}</span>
                            <span ng-if="notNull(original.generatedBy)"><h4>Generated by</h4>{{original.generatedBy}}</span>
                            <span ng-if="notNull(original.version)"><h4>Version</h4>{{original.version}}</span>
                            <span ng-if="notNull(original.interactionMethod)"><h4>Interaction Method</h4>{{original.interactionMethod}}</span>
                        </div>
                        <!-- End Show Info -->

                        <!-- Edit -->
                        <div ng-show="showInput('tech')" layout="column">
                            <span ng-if="notNull(original.ercIdentifier)"><h4>Erc Id</h4>{{original.ercIdentifier}}</span>
                            <span ng-if="notNull(original.generatedBy)"><h4>Generated by</h4>{{original.generatedBy}}</span>
                            <md-input-container class="md-block">
                                <label>Version</label>
                                <input ng-model="meta.version" ng-value="original.version">
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Interaction Method</label>
                                <input ng-model="meta.interactionMethod" ng-value="original.interactionMethod">
                            </md-input-container>
                        </div>
                        <!-- End Edit -->


                        <!-- Show Info -->
                        <!--
                        <h3>Dependencies
                            <md-icon class="edit-button" ng-click="edit('depends')" flex-offset="5" md-svg-src="{{icons.edit}}"></md-icon>
                            <md-icon ng-show="showInput('depends')" class="edit-button" ng-click="addItem(meta.depends, 'depends')" flex-offset="5" md-svg-src="{{icons.add}}"></md-icon>
                        </h3>
                        <div ng-hide="showInput('depends')" layout="column">
                            <span ng-repeat="dependency in original.depends"><h4 ng-hide="isEmpty(original.depends[$index], 'depends')">Dependency</h4>
                            {{dependency.version}}<br ng-if="dependency.hasOwnProperty('version')"/>
                            {{dependency.packageId}}<br ng-if="dependency.hasOwnProperty('packageId')"/>
                            {{dependency.packageSystem}}<br ng-if="dependency.hasOwnProperty('packageSystem')"/>
                            <span ng-repeat="opSys in dependency.operatingSystem">{{opSys.name}}<br/></span>
                            </span>
                        </div>
                        -->
                        <!-- End Show Info -->

                        <!-- Edit -->
                        <!--
                        <div ng-show="showInput('depends')" layout="column">
                            <div ng-repeat="dependency in meta.depends">
                                <md-input-container ng-repeat="system in dependency.operatingSystem">
                                    <label>Operating System</label>
                                    <input ng-model="meta.depends[$parent.$index].operatingSystem[$index].name" ng-value="system.name">
                                </md-input-container>
                                <md-input-container>
                                    <label>Package ID</label>
                                    <input ng-model="meta.depends[$index].packageId" ng-value="dependency.packageId">
                                </md-input-container>
                                <md-input-container>
                                    <label>Package System</label>
                                    <input ng-model="meta.depends[$index].packageSystem" ng-value="dependency.packageSystem">
                                </md-input-container>
                                <md-input-container>
                                    <label>Version</label>
                                    <input ng-model="meta.depends[$index].version" ng-value="dependency.version">
                                </md-input-container>
                                <md-divider ng-if="!$last"></md-divider>
                            </div>
                        </div>
                        -->
                        <!-- End Edit -->
                    </ng-form>
                </md-tab>
            </md-tabs>


          
		</md-card-content>
	</md-card>
</div>
