<h2>Create new Binding</h2>
<div layout="row">
    <span>Which figure should be made interactive?</span>
    <md-input-container flex-offset="5" class="no-margin-top">
        <label>Select Figure</label>
        <md-select ng-model="selectedFigure">
            <md-option ng-repeat="fig in figures" ng-value="fig">
                {{fig}}
            </md-option>
        </md-select>
    </md-input-container>
</div>
<!-- <o2r-display-files o2r-file="{{testfile}}" flex="80"></o2r-display-files> -->
<div layout="row">
    <o2r-display-files ng-if="showOriginalCode" o2r-file="{{codefile}}" ng-mouseup="selectionEvent()" flex="70"></o2r-display-files>
    <o2r-display-files ng-if="steps.step3.showSelectedText" o2r-file="{{selectedText}}" ng-mouseup="selectionEvent()" flex="70"></o2r-display-files>
    <!-- STEPS -->
    <md-card layout-fill flex="30">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">
                    Instructions
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>

            <div layout="column">
                <!-- <h3>Instructions</h3> -->
                <!-- STEP 1 -->
                <div ng-show="steps.step1.show" layout="row">
                    <strong class="creationProcess-binding-step">Step 1</strong>
                    <md-input-container flex class="md-block">
                        <label>Select purpose</label>
                        <md-select ng-model="steps.step1.selected">
                            <md-option ng-repeat="opt in steps.step1.options" ng-value="opt.value">
                                {{opt.text}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <!-- <md-divider ng-if="steps.step2.show"></md-divider> -->
                <!-- STEP 2 -->
                <div ng-show="steps.step2.show" layout="row">
                    <strong class="creationProcess-binding-step">Step 2</strong>
                    <md-input-container flex class="md-block">
                        <label>Select Widget</label>
                        <md-select ng-model="steps.step2.selected">
                            <md-option ng-repeat="opt in steps.step2.options" ng-value="opt.value">
                                {{opt.text}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <!-- <md-divider ng-if="steps.step3.show"></md-divider> -->
                <!-- STEP 3 -->
                <div ng-show="steps.step3.show">
                    <div layout="row">
                        <strong class="creationProcess-binding-step">Step 3</strong>
                        <span class="creationProcess-binding-step-inst">Mark code snippets for Figure</span>
                    </div>
                    <div layout="row">
                        <span flex></span>
                        <md-button class="md-raised" ng-click="step3Done()" aria-label="done">Done</md-button>
                    </div>
                </div>
                <!-- <md-divider ng-if="steps.step4.show"></md-divider> -->
                <!-- STEP 4 -->
                <div ng-show="steps.step4.show" class="creationProcess-step-separate" layout="row">
                    <div layout="row">
                        <strong class="creationProcess-binding-step">Step 4</strong>
                    </div>
                    <div flex layout="column">
                        <span class="creationProcess-binding-step-inst">Mark variable and value to manipulate</span>
                        <span ng-show="steps.step4.showSelection">
                            <span ng-hide="!selectedVariable">
                                Selected <strong>{{selectedVariable.varName}}</strong> with value <strong>{{selectedVariable.val}}</strong>
                            </span>
                            <span ng-show="!selectedVariable">
                                <strong>Invalid Selection</strong>
                            </span>
                        </span>
                        <div layout="row">
                            <span flex></span>
                            <md-button class="md-raised" ng-click="step4Done()" aria-label="update">Done</md-button>
                        </div>
                    </div>
                </div>
                <!-- <md-divider ng-if="steps.step5.show"></md-divider> -->
                <!-- STEP 5 -->
                <div ng-show="steps.step5.show" layout="row" class="creationProcess-step-separate">
                    <div>
                        <strong class="creationProcess-binding-step">Step 5</strong>
                    </div>
                    <div flex>
                        <md-input-container flex class="md-block">
                            <label>Enter minimum value for variable</label>
                            <input type="number" name="min_value" ng-model="steps.step5.min_value">
                        </md-input-container>
                        <md-input-container flex class="md-block">
                            <label>Enter maximum value for variable}</label>
                            <input type="number" name="max_value" ng-model="steps.step5.max_value">
                        </md-input-container>
                        <md-input-container flex class="md-block">
                            <label>Enter step size for variable</label>
                            <input type="number" name="step_size" ng-model="steps.step5.step_size">
                        </md-input-container>
                        <div layout="row">
                            <span flex></span>
                            <md-button class="md-raised" ng-click="step5Done()" aria-label="done">Done</md-button>
                        </div>
                    </div>
                </div>
                <md-divider ng-if="steps.step6.show"></md-divider>
                <!-- STEP 6 -->
                <div ng-show="steps.step6.show" layout-padding>
                    <md-button class="md-raised md-primary white-font" ng-click="" aria-label="check">Check</md-button>
                </div>
                
            </div>
        </md-card-content>
    </md-card>
</div>
