<h2>Create new Binding</h2>
<div layout="row">
    <span>Which figure should be made interactive?</span>
    <md-input-container flex-offset="5" class="no-margin-top">
        <label>Select Figure</label>
        <md-select ng-model="selectedFigure">
            <md-option ng-repeat="fig in figures" ng-value="fig">
                {{fig}}
            </md-option>
        </md-select>
    </md-input-container>
</div>
<div layout="row">
    <o2r-display-files o2r-file="{{codefile}}" flex="80"></o2r-display-files>
    <!-- STEPS -->
    <md-card layout-fill flex="20">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">
                    Instructions
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>

            <div layout="column">
                <!-- <h3>Instructions</h3> -->
                <!-- STEP 1 -->
                <div ng-show="steps.step1.show" layout-padding>
                    <h3>Step 1</h3>
                    <md-input-container>
                        <label>Select purpose</label>
                        <md-select ng-model="steps.step1.selected">
                            <md-option ng-repeat="opt in steps.step1.options" ng-value="opt.value">
                                {{opt.text}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <md-divider ng-if="steps.step2.show"></md-divider>
                <!-- STEP 2 -->
                <div ng-show="steps.step2.show" layout-padding>
                    <h3>Step 2</h3>
                    <md-input-container>
                        <label>Select Widget</label>
                        <md-select ng-model="steps.step2.selected">
                            <md-option ng-repeat="opt in steps.step2.options" ng-value="opt.value">
                                {{opt.text}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <md-divider ng-if="steps.step3.show"></md-divider>
                <!-- STEP 3 -->
                <div ng-show="steps.step3.show" layout-padding>
                    <h3>Step 3</h3>
                    <span>Mark code snipptes for figure</span>
                    <md-button class="md-raised" ng-click="markedAllText()" aria-label="marked">Marked all</md-button>
                    <div layout="row">
                        <span flex></span>
                        <md-button class="md-raised" ng-click="updateSelection()" aria-label="add">Add</md-button>
                    </div>
                    <div layout="row">
                        <span flex></span>
                        <md-button class="md-raised" ng-click="step3Done()" aria-label="done">Done</md-button>
                    </div>
                </div>
                <md-divider ng-if="steps.step4.show"></md-divider>
                <!-- STEP 4 -->
                <div ng-show="steps.step4.show" layout-padding>
                    <h3>Step 4</h3>
                    <span>Mark value to manipulate</span>
                    <div layout="row">
                        <span flex></span>
                        <md-button class="md-raised" ng-click="updateValue()" aria-label="update">Done</md-button>
                    </div>
                    <span ng-show="steps.step4.result.show">
                        Selected Value: <strong>{{steps.step4.result.value}}</strong>
                    </span>
                </div>
                <md-divider ng-if="steps.step5.show"></md-divider>
                <!-- STEP 5 -->
                <div ng-show="steps.step5.show" layout-padding>
                    <h3>Step 5</h3>
                    <md-input-container>
                        <label>Enter minimal value for slider</label>
                        <input name="min_value" ng-model="steps.step5.min_value">
                    </md-input-container>
                    <md-input-container>
                        <label>Enter maximum value for slider</label>
                        <input name="max_value" ng-model="steps.step5.max_value">
                    </md-input-container>
                    <md-input-container>
                        <label>Enter step size</label>
                        <input name="step_size" ng-model="steps.step5.step_size">
                    </md-input-container>
                    <div layout="row">
                        <span flex></span>
                        <md-button class="md-raised" ng-click="step5Done()" aria-label="done">Done</md-button>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>
