<md-card>
    <md-card-content layout="column">
        <div layout="row">
            <md-button class="md-raised" ng-click="execJob()" ng-disabled="isRunning(lStar.status) || !$parent.$$prevSibling.$parent.vm.loggedIn" analytics-on="click" analytics-category="ERC" analytics-event="execute">Run analysis</md-button>
            <md-button class="md-raised" ng-disabled="($parent.vm.isEmpty(lFin.steps))" ui-sref="compareanalysis({o: dummy.o.path, r: dummy.r.path, d: dummy.d.path, om: 'text/html', rm: 'text/html', dm: 'text/html'})"><md-icon md-svg-src="{{icons.search}}"></md-icon></md-button>
        </div>
        <div>
            <h3>Last finished analysis</h3>
            <table ng-hide="$parent.vm.isEmpty(lFin.steps)">
                <tr ng-repeat="(key, value) in lFin.steps">
                    <td>{{key}}</td>
                    <td>
                        <strong>{{value.status}}</strong>
                        <md-icon md-svg-src="{{checkIcon(value.status, key, 'finished')}}" ng-class="iconClass[key].finished"></md-icon>
                        <br/>
                        <small>{{value.end | date: 'yyyy-MM-dd HH:mm'}}</small>
                    </td>
                </tr>
            </table>
            <strong ng-hide="$parent.vm.isEmpty(lFin.steps)">{{resultInfo(lFin.status)}}</strong>
            <span ng-show="$parent.vm.isEmpty(lFin.steps)">No analysis finished yet.</span>
        </div>
        <div>
            <md-divider></md-divider>
            <h3>Last started analysis</h3>
            <small ng-hide="$parent.vm.isEmpty(lStar)">Started on: {{lStar.steps.validate_bag.start | date: 'yyyy-MM-dd HH:mm'}}</small>
            
            <table ng-hide="$parent.vm.isEmpty(lStar)">
                <tr ng-repeat="(key, value) in lStar.steps">
                    <td>{{key}}</td>
                    <td>
                        <strong>{{value.status}}</strong>
                        <md-icon md-svg-src="{{checkIcon(value.status, key, 'started')}}" ng-class="iconClass[key].started"></md-icon>
                        <br/>
                       <!-- <small>{{value.end | date: 'yyyy-MM-dd HH:mm'}}</small>-->
                    </td>
                </tr>
            </table>
            <strong ng-hide="$parent.vm.isEmpty(lStar)">{{resultInfo(lStar.status)}}</strong>
            <span ng-show="$parent.vm.isEmpty(lStar)">No currently running analysis.</span>
        </div>
    </md-card-content>
</md-card>
