<div layout="row">
    <md-button class="md-raised" ng-click="execJob()" ng-disabled="isRunning(lStar.status) || !$parent.$$prevSibling.$parent.$parent.vm.loggedIn" analytics-on="click" analytics-category="ERC" analytics-event="execute">Run analysis</md-button>
    <md-button class="md-raised" ng-disabled="(isEmpty(lFin.steps))" ng-click="showDialog()" aria-label="Check Results"><md-icon md-svg-src="{{icons.search}}"></md-icon></md-button>
    <span flex></span>
    <md-button ng-href="{{env.api}}/job/{{lFin.id}}" target="_blank" aria-label="See Raw Jobs Status">Raw Jobs</md-button>
    <md-button ng-href="{{env.api}}/compendium/{{$parent.vm.ercId}}" target="_blank" aria-label="See Raw ERC">Raw ERC</md-button>
</div>
<div id='analysisStats'>
<div style="width: 200vh">
    <h3>Last finished analysis</h3>
    <table ng-hide="isEmpty(lFin.steps)">
        <tr ng-repeat="(key, value) in lFin.steps">
            <td>{{key | replaceUnderscore}}</td>
            <td layout="column">
                <div layout="row">
                    <strong>{{value.status}}</strong>
                    <md-icon md-svg-src="{{checkIcon(value.status, key, 'finished')}}" ng-class="iconClass[key].finished"></md-icon>
                </div>
                <small ng-if="hideDuration(value.status)">{{value.end - value.start | duration}}</small>
            </td>
            <td>
                <small>{{value.text}}</small>
            </td>
        </tr>
    </table>
    <strong ng-hide="isEmpty(lFin.steps)">{{resultInfo(lFin.status)}}</strong>
    <span ng-show="isEmpty(lFin.steps)">No analysis finished yet.</span>
</div>
<div style="width: 200vh">
    <md-divider></md-divider>
    <h3>Last started analysis</h3>
    <small ng-hide="isEmpty(lStar)">Started on: {{lStar.steps.validate_bag.start | date: 'yyyy-MM-dd HH:mm'}}</small>

    <table ng-hide="isEmpty(lStar)">
        <tr ng-repeat="(key, value) in lStar.steps">
            <td>{{key | replaceUnderscore}}</td>
            <td layout="row">
                <strong>{{value.status}}</strong>
                <md-icon md-svg-src="{{checkIcon(value.status, key, 'started')}}" ng-class="iconClass[key].started"></md-icon>
                <!-- <small>{{value.end | date: 'yyyy-MM-dd HH:mm'}}</small>-->
            </td>
            <td>
                <small>{{value.text}}</small>
            </td>
        </tr>
    </table>
    <strong ng-hide="isEmpty(lStar)">{{resultInfo(lStar.status)}}</strong>
    <span ng-show="isEmpty(lStar)">No currently running analysis.</span>
</div>
</div>
